aio-pika==8.2.4
aiobotocore==2.4.0
aiohttp==3.8.3
aiohttp-jwt==0.6.1
aioitertools==0.11.0
aiormq==6.4.2
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.1.0
botocore==1.27.59
charset-normalizer==2.1.1
dnspython==2.2.1
frozenlist==1.3.3
idna==3.4
jmespath==1.0.1
motor==3.1.1
multidict==6.0.2
pamqp==3.2.1
PyJWT==2.6.0
pymongo==4.3.2
python-dateutil==2.8.2
six==1.16.0
typing-extensions==4.4.0
urllib3==1.26.12
wrapt==1.14.1
yarl==1.8.1
